body {
    margin: 0;
    font-family: Arial;
    font-size: 16px;
}

.container {
    display: flex;
    margin: 0 auto 0 auto;
}

.esquerda {
    display: inline-block;
    flex: 1;
}

.direita {
    display: inline-block;
    flex: 1;
}

.botoes {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botoes input {
    background-color: rgb(87, 85, 85);
    color: #FFFFFF;
    margin-left: 10px;
}

.esquerda input {
    display: block;
}

.esquerda select {
    display: block;
}

.direita input {
    display: block;
}

.nome,
.RG,
.pai,
.escolaridade,
.tel,
.email,
.nasc,
.CPF,
.mae,
.profissao,
.cel {
    margin: 20px;
}

input,
select {
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    background-color: rgb(219, 219, 219);
}